.ProseMirror .hljs-comment,
.ProseMirror .hljs-quote {
    color: #616161;
}

.ProseMirror .hljs-variable,
.ProseMirror .hljs-template-variable,
.ProseMirror .hljs-attribute,
.ProseMirror .hljs-tag,
.ProseMirror .hljs-regexp,
.ProseMirror .hljs-link,
.ProseMirror .hljs-name,
.ProseMirror .hljs-selector-id,
.ProseMirror .hljs-selector-class {
    color: #f98181;
}

.ProseMirror .hljs-number,
.ProseMirror .hljs-meta,
.ProseMirror .hljs-built_in,
.ProseMirror .hljs-builtin-name,
.ProseMirror .hljs-literal,
.ProseMirror .hljs-type,
.ProseMirror .hljs-params {
    color: #fbbc88;
}

.ProseMirror .hljs-string,
.ProseMirror .hljs-symbol,
.ProseMirror .hljs-bullet {
    color: #b9f18d;
}

.ProseMirror .hljs-title,
.ProseMirror .hljs-section {
    color: #faf594;
}

.ProseMirror .hljs-keyword,
.ProseMirror .hljs-selector-tag {
    color: #70cff8;
}

.ProseMirror .hljs-emphasis {
    font-style: italic;
}

.ProseMirror .hljs-strong {
    font-weight: 700;
}
