.ProseMirror p.is-editor-empty:first-child::before {
    color: theme('colors.gray.400');
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}

.ProseMirror ul[data-type="taskList"] {
    padding: 0;
    margin: 0;
}

.ProseMirror ul[data-type="taskList"] p {
    margin: 0;
}

.ProseMirror ul[data-type="taskList"] li {
    display: flex;
    margin: 0;
}

.ProseMirror ul[data-type="taskList"] li > label {
    flex: 0 0 auto;
    margin: 0;
    margin-right: 0.5rem;
    user-select: none;
}

.ProseMirror ul[data-type="taskList"] li > div {
    flex: 1 1 auto;
    margin: 0;
}

.ProseMirror img {
    height: auto;
    max-width: 100%;
}

.ProseMirror img.ProseMirror-selectednode {
    @apply ring-2 ring-offset-1 ring-brand/75;
}

.ProseMirror a {
    color: theme('colors.brand.DEFAULT')
}

.ProseMirror table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.ProseMirror table td,
.ProseMirror table th {
    min-width: 1em;
    border: 2px solid #ced4da;
    padding: 3px 5px;
    vertical-align: top;
    box-sizing: border-box;
    position: relative;
}

.ProseMirror table td > *,
.ProseMirror table th > * {
    margin-bottom: 0;
}

.ProseMirror table th {
    font-weight: bold;
    text-align: left;
    background-color: #f1f3f5;
}

.ProseMirror table .selectedCell:after {
    z-index: 2;
    position: absolute;
    content: "";
    left: 0; right: 0; top: 0; bottom: 0;
    background: rgba(200, 200, 255, 0.4);
    pointer-events: none;
}

.ProseMirror table .column-resize-handle {
    position: absolute;
    right: -2px;
    top: 0;
    bottom: -2px;
    width: 4px;
    background-color: #adf;
    pointer-events: none;
}

.ProseMirror .tableWrapper {
    overflow-x: auto;
}

.ProseMirror .resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
}
