@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --tw-ring-color: theme('colors.brand.600');
    }

    html {
        height: 100%;

        font-family: theme('fontFamily.sans');
        -webkit-tap-highlight-color: transparent;
        scroll-behavior: smooth;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: 'ss01';
    }

    body {
        height: 100vh;
        height: 100dvh;
        color: theme('colors.gray.900');
        background-color: theme('colors.gray.100');
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;

        @apply container md:gap-8;
    }

    [type='text'],
    [type='email'],
    [type='url'],
    [type='password'],
    [type='number'],
    [type='date'],
    [type='datetime-local'],
    [type='month'],
    [type='search'],
    [type='tel'],
    [type='time'],
    [type='week'],
    [multiple],
    textarea,
    select {
        width: 100%;
        border-radius: theme('borderRadius.md');
        border-color: theme('colors.slate.400');
        box-shadow: theme('boxShadow.sm');
        @apply focus:border-brand focus:ring-brand/75;
    }

    [type='checkbox'],
    [type='radio'] {
        color: theme('colors.brand.600');
        border-color: theme('colors.gray.500');
        border-radius: theme('borderRadius.DEFAULT');
        @apply focus:ring-brand;
    }

    button, a[type='button'] {
        @apply focus:outline-none;
        @apply focus-visible:ring focus-visible:ring-offset-2 focus-visible:ring-brand/75;
    }

    .button {
        @apply flex cursor-pointer items-center justify-center gap-2 rounded-md px-2 py-1 font-medium;
        @apply disabled:cursor-not-allowed disabled:bg-opacity-80;
    }

    .button-primary {
        @apply bg-brand-600 text-white focus-visible:ring-brand/75;
    }

    .button-secondary {
        @apply bg-gray-600 text-white focus-visible:ring-gray-600/75;
    }
}
